.titel {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-graphic: url(titel.png);
}
.btn {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-graphic: url(start1.png);
    -fx-cursor: hand;
}
.sback {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-graphic: url(sback.png);
    -fx-cursor: hand;
}
.einstellung {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-graphic: url(einstellungen.png);
    
}

.schwierigkeit {
    -fx-padding: 20px 0 0px 0;
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-graphic: url(schwierigkeit.png);
    
}

.btns {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-object-fit: cover;
    -fx-background-color: transparent;
    -fx-max-height: 5px;
    -fx-graphic: url(settings.png);
    -fx-cursor: hand;
}

#anchor {
    -fx-background-image: url("settingsbck.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    }

#anchors {
    -fx-background-image: url("settingsbck.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    }

.slider {
        -fx-show-tick-marks: true;
        -fx-show-tick-labels: true;	
        -fx-alignment: center; /* Align center horizontally */
        -fx-pref-width: 50px; /* Set preferred width */
        -fx-max-width: 250px;
    }
    
.lane{
    -fx-height: 100%;
    -fx-background-color: red;
}

.hbox{
    -fx-height: 100%;
    -fx-border: 1px solid black;
}

.hbox * {
    -fx-height: 100%;
}

#myImage {
        -fx-image: url("mypackage/myimage.jpg"); 
      }

